.booking-calendar {
    gap: 5px;
    max-width: 500px;
    padding: 10px;
}

.booking-calendar-week,
.booking-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.booking-calendar-week {
    gap: 7px;
}

.booking-date label {
    background-color: var(--background-clr);
    padding: 15px 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.booking-date label:hover {
    background-color: var(--secondary-clr);
    color: var(--text-light-clr);
}

.booking-date-grey label:hover {
    background-color:#d9d9d9;
    color: var(--text-clr);
}

.booking-date-grey label {
    background-color: #d9d9d9;
}

.booking-calendar-days {
    text-align: center; 
}

.booking-specific-days {
    margin: 0px;
}

.booking-date-hidden label {
    visibility: hidden;
}

.booking-date-hidden {
    background-color: var(--background-clr);
}

input[type="radio"]:checked + label {
    background-color: var(--secondary-clr);
    color: var(--text-light-clr);
}

.booking-form-tickets {
    background-color: var(--background-clr);
    max-width: 500px;
    padding: 25px;
    font-size: 1.25rem;
}

.booking-form-tickets, 
.input-fields,
.input-fields-message,
.booking-form-inputs {
    margin: 10px auto;
    width: 300px;
}

.tickets-text,
.kids-label, 
.adults-label {
    display: flex;
    justify-content: space-between;
}

.dropdown-tickets,
.tickets-text {
    border-bottom: 1px solid var(--secondary-clr);
    padding: 5px 0px;
}    

.tickets-text:hover {
    background-color: var(--secondary-clr);
    padding: 5px 0px;
    color: var(--text-light-clr);
    cursor: pointer;
}

.kids-adults {
    display: flex;
    flex-direction: row;
}

.kids-label, 
.adults-label {
    margin-bottom: 10px;
}


.booking-form-inputs,
.booking-contact-form,
.booking-calendar {
    display: flex;
    flex-direction: column;

}

.input-fields,
.input-fields-message {
    border-radius: 5px;
    border: 1px solid var(--text-clr);
    padding: 15px 0px;
    font-size: 1rem;
}

.input-fields:focus,
.input-fields-message:focus {
    outline: none;
    border: 2px solid #66bb6a;
}



.input-fields-message {
    height: 70px;
}

.booking-form{
    font-size: 1.25rem;
}

.booking-h1 {
    margin: var(--h1-margin-mobile);
}

.buy-tickets-button {
    max-width: 178px;
}

.booking-submit-button {
    max-width: 134px;
}

.booking-h3 {
    align-self: center;
    margin: 40px 152px 0px 20px;
}

.booking-text {
    align-self: center;
    margin: 5px 145px 0px 0px;
}

.booking-contact-form {
    margin-top: 50px;
}
