.booking-calendar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px auto;
    max-width: 500px;
    padding: 10px;
}

.booking-calendar-week,
.booking-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.booking-calendar-week {
    gap: 7px;
}

.booking-date label {
    background-color: #f5f1fc;
    padding: 15px 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.booking-date label:hover {
    background-color: #713d9c;
    color: #fff;
}

.booking-date-grey label:hover {
    background-color:#d9d9d9;
    color: #000;
}

.booking-date-grey label {
    background-color: #d9d9d9;
}

.booking-calendar-days {
    text-align: center; 
}

.booking-specific-days {
    margin: 0px;
}

.date-hidden {
    color: #f5f1fc;
}

.booking-date-hidden label:hover {
    background-color: #f5f1fc;
    color: #f5f1fc;
}

input[type="radio"]:checked + label {
    background-color: #713d9c;
    color: #fff;
}

.booking-form-tickets {
    background-color: #f5f1fc;
    max-width: 500px;
    padding: 25px;
}

.booking-form-tickets, 
.input-fields,
.input-fields-message{
    margin: 10px auto;
    width: 300px;
    font-family: 'Asap';
}

.tickets-text {
    border-bottom: 1px solid #713d9c;
    padding: 5px 0px;
    
}

.kids-adults {
    display: flex;
    flex-direction: row;
    
}

.kids-label, 
.adults-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.booking-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-fields,
.input-fields-message {
    border-radius: 5px;
    border-radius: 1px solid #0000;
    padding: 10px;
}

.input-fields-message {
    height: 70px;
}

.booking-form{
    font-size: 1.25rem;
}

.booking-h1 {
    margin: 20px;
}

.buy-tickets-button {
    max-width: 178px;
}

.booking-submit-button {
    max-width: 134px;
}

.booking-h3 {
    align-self: center;
    margin: 40px 176px 0px 20px;
}

.booking-text {
    align-self: center;
    margin: 5px 169px 0px 0px;
}

.booking-contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
