.h1-confirmation{
    font-weight: 700;
    font-size: 2rem;
    width: 200px;
}

.confirmation-text{
    font-size: 1.125rem;
    line-height: 35px;
    max-width: 580px;
    padding: 0px 20px;
}

.confirmation-logo {
    width: 300px;
    display: block;
    margin-top: 50px;
}

.confirmation-content {
    position: relative;
    background-position-x: center;
}

.confirmation-content::before {
    content: '';
    height: 687px;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.confirmation-text,
.confirmation-logo,
.h1-confirmation,
.fa-circle-check{
    color: var(--text-light-clr);
    z-index: 2;
    position: relative; 
    margin: 20px auto;
    top: 195px;
}

.fa-circle-check {
    color: var(--tertiary-clr);
    font-size: 5rem;
    margin: 0 auto;
    width: 100px;
    display: block;
}

