.event-image,
.exhibition-img{
    max-width: var(--content-width);
    width: 100%;  
    margin-top: 30px; 
}

.exhibition-h3 {
    margin: 10px 0px 0px 0px;
}

.exhibition-paragraph-text{
    margin: 5px 20px 0px 20px;
    max-width: var(--content-width);
}

.exhibition-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-event-button {
    max-width: 206px;
}

.exhibition-button {
    max-width: 190px;
}

.exhibition-h2 {
    align-self: flex-start;
}