.explore-image-girl,
.explore-image-books,
.explore-image-hands {
    display: none;
}


.explore-paragraph {
    margin: 0px 20px;

}

.dropdown-explore{
    font-size: 1.125rem;
    line-height: 30px;
    color: #2B2B2B;
    padding: 5px;
    margin:10px 30px;
    border-bottom: solid #2b2b2b;
    width: 300px;
}

.explore-button {
    justify-self: center;
    margin: 50px 0px;
}

.explore-paragraph-top {
    margin-top: 0px;
}

.explore-dropdown-content {
    margin: 40px 0px;
}

.explore-paragraph-text {
    border-bottom: solid #000;
}