.explore-image-girl,
.explore-image-books,
.explore-image-hands {
    display: none;
}

.dropdown-explore{
    font-size: 1.125rem;
    line-height: 30px;
    color: var(--h1-h2-h3-clr);
    padding: 5px;
    margin:10px 30px;
    border-bottom: solid var(--h1-h2-h3-clr);
    width: 300px;
}

.explore-button {
    max-width: 200px;
}

.explore-dropdown-content {
    margin: 40px 0px;
}

.explore-paragraph-text {
    border-bottom: solid var(--text-clr);
}
