.get-involved-banner::before {
    content: '';
    height: 687px;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.get-involved-banner {
    position: relative;
    background-position-x: center;
}

.h1-get-involved {
    margin: 0px;
    z-index: 2;
    color: var(--tertiary-clr);
    font-weight: 700;
    font-size: 2.25rem;
    position: relative;
    top: 600px;
    left: 5%;
}

.get-involved-paragraph {
    margin: 20px auto;
    max-width: var(--content-width);
    padding: 0px 20px;
}

.get-involved-button {
    max-width: 199px;
}


