/* Phone */
@media (max-width:599px){


}

/* Tablet */
@media (min-width:600px) and (max-width:1199px){
 /* Explore */

    .explore-paragraph {
        max-width: 600px;
        margin: auto;
    
    }

}

/* Desktop */
@media (min-width:1200px){

/* Header and Footer*/    
    .hamburger-icon {
        display: none;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        padding: 0px 80px 0px 0px;
        gap: 50px;
    }

    .header-items {
        display: flex;
        flex-direction: row-reverse;
    }

    .logo-header {
        align-self: center;
        padding: 20px;
        width: 290px;
    }

    .header-content li {
        text-decoration: none;
        border-bottom: none;
        padding: 0px;
    }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        gap: 120px;
        margin: 0px 40px;
        padding-bottom: 30px;
    }

    .logo-footer {
        width: 290px;
        align-self: center;
    }

    .desktop-opening-hours {
        display: flex;
        gap: 20px;
    }

    .footer-headline-desktop {
        margin-bottom: 8px;
    }

    .footer-icons-desktop {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .fa-facebook-f {
        padding: 0px 13px;
    }

    .fa-youtube {
        padding: 0px 10px;
    }

    
    /* Explore */
    .explore-nav {
        display: flex;
        margin: 10px;
    }

    .site-nav {
        padding: 2px;
    }

    .explore-image-girl,
    .explore-image-books,
    .explore-image-hands{
        display:block;
        background-size: cover;
        height: 600px;
        
    }

    .explore-paragraph {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 120px;
        align-items: center;
        justify-items: center;
        margin-top: 50px;
    }


    }

/* Phone and Tablet*/

@media (max-width:1199px) {

/* Explore */ 
.explore-h1{
    background-image: url(../images/girl-museum-image.jpg);
    height: 650px;
    background-size: cover;
    background-position-y: bottom;  
    position: relative;

}

.explore-phone-image {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    margin-top: 0;
    top: 90%;
    left: 10%;
}

.explore-h1::before {
    content: '';
    height: 650px;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
 }
    
}

/* Tablet and Desktop */
@media (min-width:600px) {


}




