/* Phone */
@media (max-width:599px){
/* Homepage */
    .home-img-link {
        max-width: 375px;
        width: 100%;
    }

    .img-link-text {
        top: 89%;
        left: 50%;
    }
/* Explore */
    .footer-dropdown {
        width: 65%;
    }
    
}

/* Tablet */
@media (min-width:600px) and (max-width:1199px){
 /* Homepage */
    .img-link-text {
        top: 93%;
        left: 50%;
    }

    .home-img-link {
        max-width: 600px;
        width: 100%;
    }


 /* Explore */
    .explore-paragraph {
        max-width: 600px;
        margin: auto;
    }

    .footer-dropdown {
        width: 40%;
    }

/* Exhibition and events */
    .exhibition-h2 {
        margin: 0px 50px;
    }

 /* Visit us */
    .visit-us-h1 {
        margin: 20px 50px;
    }

    .visit-us-paragraph {
        max-width: 600px;
        margin: auto;
        padding: 0px 20px;
    }

    .cafe-image, 
    .shop-image {
        display: block;
        margin: 0px auto;

    }

/* Booking */
    .booking-content {
        border: solid 1px var(--text-clr);
        border-radius: 5px;
        margin: 0px 40px;
        padding: 30px 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

/* Get Involved */
    .get-involved-paragraph {
        max-width: 600px;
    }

  
}

/* Desktop */
@media (min-width:1200px){
/* Header and Footer*/    
    .hamburger-icon {
        display: none;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        padding: 0px 80px 0px 0px;
        gap: 50px;
    }

    .header-items {
        display: flex;
        flex-direction: row-reverse;
    }

    .logo-header {
        align-self: center;
        width: 290px;
        padding: 0px 15px;
    }

    .header-content li {
        text-decoration: none;
        border-bottom: none;
        padding: 0px;
    }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        gap: 120px;
        margin: 0px 40px;
        padding-bottom: 30px;
    }

    .logo-footer {
        width: 290px;
        align-self: center;
    }

    .desktop-opening-hours {
        display: flex;
        gap: 20px;
    }

    .footer-headline-desktop {
        margin-bottom: 8px;
    }

    .footer-icons-desktop {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .fa-facebook-f {
        padding: 0px 13px;
    }

    .fa-youtube {
        padding: 0px 10px;
    }

/* Homepage */
    .home-h2 {
        margin-left: 50px;
    }

    
/* Explore */
    .explore-nav {
        display: flex;
        margin: 0px 10px;
    }

    .site-nav {
        padding: 2px;
    }

    .explore-image-girl,
    .explore-image-books,
    .explore-image-hands{
        display:block;
        background-size: cover;
        height: 400px;
        background-color: var(--background-clr);
        padding: 70px;
        
    }

    .explore-paragraph {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        align-items: center;
        justify-items: center;
        margin: 50px 60px 0px 60px;
    }

    .explore-paragraph-text {
        border-bottom: none;
    }

    .explore-h3 {
        margin: 0px;
    }

/* Explore and Exhibition */
    .explore-h1,
    .exhibition-h1 {
        margin-left: 50px;
    }

    .explore-phone-image,
    .exhibition-phone-image {
        margin-bottom: 5px;
    }

/* Exhibition */
    .exhibition-nav{
        display: flex;
        margin: 0px 10px;
    }
    .special-events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        background-color: var(--background-clr);
        width: 100%;
        padding: 20px 0px 50px 0px;
        margin-top: 30px;
    }

    .event-image {
        max-width: 350px;
    }

    .event-paragraph-text {
        max-width: 350px;
        margin: 0px;
    }

    .our-exhibitions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        background-color: var(--background-clr);
        justify-items: center;
    }

    .exhibition {
        display: grid;
        gap: 60px;
        background-color: white;
        width: 100%;
    }

    .exhibition-img {
        margin-top: 0px;
    }

    .exhibition-h2 {
        margin: 40px 50px;
    }

    .event-button {
        grid-column-start: 3;
    }

 /* Visit us */
    .visit-us-paragraph-1-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .visit-us-opening-hours-backround {
        background-color: var(--text-light-clr);
        margin: 0px;
    }

    .visit-us-opening-hours {
        border-left: 1px solid var(--text-clr);
    }

    .visit-us-button {
        grid-column-start: 2;
    }

    .visit-us-text {
        margin: 50px 60px 0px 60px;
    }

    .visit-us-paragraph-3-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        background-color: var(--background-clr);
        margin: 0px;
        padding-bottom: 50px;
    }
    
    .cafe-image{
        margin-top: 30px;
    }

    .food-and-drink,
    .shop {
        max-width: 600px;
    }

/* Booking */
    .booking-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .booking-date label {
        padding: 30px 10px;
    }

    .booking-calendar {
        margin: 0px 10px 0px 0px;
        padding: 0px;
        max-width: 600px;
    }


/* Get Involved */
    .get-involved-paragraph {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 60px;
        margin: 0px 60px;
        max-width: 1500px;
    }

    .get-involved-button {
        grid-column-start: 3;
        margin: 20px auto;
    }

  
}


/* Phone and Tablet*/
@media (max-width:1199px) {
/* Homepage */
    .home-section-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-paragraph {
        margin: 40px 20px;
    }

    .home-img-link img {
        margin: 10px 0px;
    }

/* Explore */ 
    .explore-h1{
        background-image: url(../images/girl-museum-image.jpg);
        background-color: var(--text-clr);
    }

    .explore-phone-image {
            top: 90%;
    }

/* Explore and Exhibition */
    .explore-h1,
    .exhibition-h1 {
        height: 650px;
        background-size: cover;
        background-position-y: bottom;  
        position: relative;
    }

    .explore-phone-image,
    .exhibition-phone-image {
        position: relative;
        z-index: 2;
        color: var(--text-light-clr);
        margin-top: 0;
        left: 10%;
        width: 90%;
    }

    .explore-h1::before,
    .exhibition-h1::before {
        content: '';
        height: 650px;
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
    }

/* Exhibitions and events */
    .exhibition-h1 {
        background-image: url(../images/night-at-museum-image.jpg);
        background-color: var(--text-clr);
    }

    .exhibition-phone-image {
        top: 80%;
    }
    
}

/* Tablet and Desktop */
@media (min-width:600px) {
/* Homepage */
    .home-banner-text {
        max-width: 500px;
    }

    .home-banner-text,
    .h1-home {
        top: 500px;
        padding-left: 50px;
    }


/* Explore */
    .dropdown-explore {
        width: 400px;
    }

/* Exhibition and events */
    .exhibition-paragraph-text {
        margin: 0px;
    }




}




