:root {
    --header-clr: #eee8fa;
}

body{
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1920px;
}

.explore-nav,
.exhibition-nav{
    display: none;
}

/* Font */
.nav-header,
h4, 
.footer-content,
.h1-home,
.h1-confirmation,
.h1-get-involved,
p, 
.booking-form,
.site-nav,
.dropdown-explore,
.footer-headline,
.booking-form-tickets, 
.input-fields,
.input-fields-message{
    font-family:'Asap', Arial, Helvetica, sans-serif;
}

h3,
h1,
.button,
h2{
    font-family:'Coiny', Verdana, Geneva, Tahoma, sans-serif;
}

/* Header and Footer*/
header{
    background-color: var(--header-clr);
}

.logo-header{
    width: 250px;
}

a{
    text-decoration: none;
}

.nav-header{
    font-weight: 600;
    color:#47464B;
    font-size: 1.25rem;
}

.header-content, #menu-checkbox {
    list-style: none;
    display: none;
}

#menu-checkbox:checked ~ .header-content {
    display: block;
}

.hamburger-icon {
    color: #713d9c;
    font-size: 2rem;
    padding: 20px 0px 20px 20px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.header-content {
    position: absolute;
    background-color: var(--header-clr);
    padding: 20px 100px 320px 20px;
    margin: 0;
    list-style: none;
    z-index: 3;
}

.header-content li {
    margin: 30px 0px;
    border-bottom: 1px solid #000000;
    padding: 10px 160px 10px 0px;
}

footer{
    background-color: #262626;
    margin-top: 60px;
}

.logo-footer{
    width: 250px;
}

h4,
.footer-headline{
    font-size: 0.938rem;
    color: #D87124;
    font-weight: 600;
}

.footer-content{
    color: #FFFFFF;
    font-size: 0.813rem;
    margin: 5px;
}

.fa-brands{
    color: #FFFFFF;
}

.footer-desktop {
    display: none;
}

.footer-mobile {
    display: block;
}

.footer-dropdown {
    border-bottom: solid #D87124;
    padding: 5px 8px 0px 8px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0px auto;
}

summary {
    list-style-position: outside;
    padding-inline-start: 5px;
}

.footer-opening-hours {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
}

.footer-mobile-logo {
    margin: 0px auto;
    width: 250px;
}

.footer-headline-1,
.footer-headline-2,
.footer-headline-3 {
    padding-bottom: 20px;
}

.footer-headline-3 {
    margin: 0px auto;
    width: 80px;
}

.footer-contact-us {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-follow-us {
    justify-self: center;
}


/* Heading and text */
h3{
    font-size: 1.25rem;
    margin: 40px 0px 0px 0px;
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h1, 
h2,
h3{
    color:#2B2B2B;
    text-transform: uppercase;
}

p{
    font-size: 1.125rem;
    color: #000000;
    line-height:30px;

}

/* Buttons */
.button{
    background-color: #E2945B;
    border-radius:5px;
    padding: 15px 30px;
    color: #000000;
    font-size: 1.25rem;
}

.visit-us-button,
.get-involved-button,
.explore-button,
.exhibition-button,
.event-button,
.buy-tickets-button,
.booking-submit-button {
    margin: 50px auto;
}


/* Explore - Exhibitions and Events */
.explore-nav, 
.exhibition-nav{
    list-style: none;
}

.site-nav{
    color: #47464B;
    font-size:0.938rem;
}

/* get involved and confirmation image */
.get-involved-banner,
.confirmation-content {
    background-image: url('../images/museum-overlook-image.jpg');
    background-size: cover;
    min-height: 687px;
    background-color: black;
}

/* Coming Soon */

.coming-soon-main {
    flex: 1;
}

.coming-soon-body {
    display: flex;
    flex-direction: column;
    height: 140vh;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    
}

.coming-soon-text {
    margin: 0px;

}