:root {
    --primary-clr: #E2945B;
    --secondary-clr: #713d9c;
    --header-clr: #eee8fa;
    --footer-clr: #262626;
    --tertiary-clr: #d87124;
    --text-clr: #000000;
    --h1-h2-h3-clr: #2b2b2b;
    --nav-clr: #47464b; 
    --background-clr: #f5f1fc;
    --text-light-clr: #ffffff;
    --content-width: 600px; 
    --primary-font: 'Asap', Arial, Helvetica, sans-serif;
    --secondary-font: 'Coiny', Verdana, Geneva, Tahoma, sans-serif;
    --h1-margin-tablet-desktop: 30px 0px 5px 50px;
    --h1-margin-mobile: 20px;
}

body{
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1500px;
}

.explore-nav,
.exhibition-nav{
    display: none;
}

.get-involved-p,
.visit-us-p,
.explore-paragraph-top,
.exhibition-paragraph-top {
    margin: 5px 0px;
}

/* Font */
.nav-header,
h4, 
.footer-content,
.h1-home,
.h1-confirmation,
.h1-get-involved,
p, 
.booking-form,
.site-nav,
.dropdown-explore,
.footer-headline,
.booking-form-tickets, 
.input-fields,
.input-fields-message,
.label-text,
.booking-form-inputs{
    font-family: var(--primary-font);
}

h3,
h1,
.button,
h2{
    font-family: var(--secondary-font);
}

/* Header and Footer*/
header{
    background-color: var(--header-clr);
}

.logo-header,
.logo-footer,
.footer-mobile-logo{
    width: 250px;
}

a{
    text-decoration: none;
}

.nav-header{
    font-weight: 600;
    color: var(--nav-clr);
    font-size: 1.25rem;
}

.header-content, #menu-checkbox {
    list-style: none;
    display: none;
}

#menu-checkbox:checked ~ .header-content {
    display: block;
}

.hamburger-icon {
    color: var(--secondary-clr);
    font-size: 2rem;
    padding: 20px 0px 20px 20px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.header-content {
    position: absolute;
    background-color: var(--header-clr);
    padding: 20px 100px 320px 20px;
    margin: 0;
    list-style: none;
    z-index: 3;
}

.header-content li {
    margin: 30px 0px;
    border-bottom: 1px solid var(--text-clr);
    padding: 10px 160px 10px 0px;
}

footer{
    background-color: var(--footer-clr);
    margin-top: 60px;
}

h4,
.footer-headline{
    font-size: 0.938rem;
    color: var(--tertiary-clr);
    font-weight: 600;
}

.footer-content{
    color: var(--text-light-clr);
    font-size: 0.813rem;
    margin: 5px;
}

.fa-brands{
    color: var(--text-light-clr);
}

.footer-desktop {
    display: none;
}

.footer-mobile {
    display: block;
}

.footer-dropdown {
    border-bottom: solid var(--tertiary-clr);
    padding: 5px 8px 0px 8px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0px auto;
}

summary {
    list-style-position: outside;
    padding-inline-start: 5px;
}

.footer-opening-hours {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
}

.footer-mobile-logo {
    margin: 0px auto;
}

.footer-headline-1,
.footer-headline-2,
.footer-headline-3 {
    padding-bottom: 20px;
}

.footer-headline-3 {
    margin: 0px auto;
    width: 80px;
}

.footer-contact-us {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-follow-us {
    justify-self: center;
}


/* Heading and text */
h3{
    font-size: 1.25rem;
    margin: 40px 0px 0px 0px;
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h1, 
h2,
h3{
    color: var(--h1-h2-h3-clr);
    text-transform: uppercase;
}

p{
    font-size: 1.125rem;
    color: var(--text-clr);
    line-height:30px;

}

/* Buttons */
.button{
    background-color: var(--primary-clr);
    border-radius:5px;
    padding: 15px 30px;
    color: var(--text-clr);
    font-size: 1.25rem;
}

.visit-us-button,
.get-involved-button,
.explore-button,
.exhibition-button,
.event-button,
.buy-tickets-button,
.booking-submit-button {
    margin: 50px auto;
}


/* Explore - Exhibitions and Events */
.explore-nav, 
.exhibition-nav{
    list-style: none;
}

.site-nav{
    color: var(--nav-clr);
    font-size:0.938rem;
}

/* get involved and confirmation image */
.get-involved-banner,
.confirmation-content {
    background-image: url('../images/museum-overlook-image.jpg');
    background-size: cover;
    min-height: 687px;
    background-color: var(--text-clr);
}

/* Coming Soon */
.coming-soon-main {
    flex: 1;
}

.coming-soon-body {
    display: flex;
    flex-direction: column;
    height: 140vh;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--h1-margin-mobile);
}

.coming-soon-text {
    margin: 0px;
}