.visit-us-h1 {
    margin: var(--h1-margin-mobile);
}


.visit-us-opening-hours-backround {
    background-color: var(--background-clr);
    margin: 40px 0px 0px 0px;
    padding: 40px;
    
}

.visit-us-hours {
    margin: 0px auto;
    max-width: 100px;
}

.visit-us-opening-hours {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.visit-us-button {
    max-width: 178px;
}

.cafe-image,
.shop-image {
    max-width: var(--content-width);
    width: 100%;
}

.visit-us-p {
    margin: 5px 0px;
}

